#app {
    display: flex;
}

@keyframes spin {
    0% {
        transform: translate(0px, 15px) rotate3d(0, 1, 0, 0);
    }

    100% {
        transform: translate(0px, 15px) rotate3d(0, 1, 0, 360deg);
    }
}

#canvas-wrapper {
    position: relative;
}

#c {
    position: absolute;
    top: 0;
    left: 0;
}
#selected-block {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    --i: 3;
    --j: 5;
}

.block-icon {
    width: 5em;
    height: 5em;
    perspective: 500px;
    border-radius: 1em;
}

.cube {
    margin: auto;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    transform-origin: center center 0px;
    animation: spin 2s infinite linear;

    div {
        width: 50px;
        height: 50px;
        background-image: url('./atlas.png');
        image-rendering: pixelated;
        background-size: calc((100% + 50px) * 16);
        background-position: calc(-50px*var(--i)) calc(-50px*var(--j));
    }
}

.f1 {
    position: absolute;
    transform: translateZ(25px);
}

.f2 {
    position: absolute;
    transform: rotateY(180deg) translateZ(25px);
}

.f3 {
    position: absolute;
    transform: rotateY(-90deg) translateZ(25px);
}

.f4 {
    position: absolute;
    transform: rotateY(90deg) translateZ(25px);
}

.f5 {
    position: absolute;
    transform: rotateX(90deg) translateZ(25px);
}

.f6 {
    position: absolute;
    transform: rotateX(-90deg) translateZ(25px);
}